<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
    }

    #header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }



    h1 {
        font-size: 24px;
        margin-top: 0;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
    }

    .contact {
        margin-bottom: 10px;
    }

        .contact a {
            color: #333;
            text-decoration: none;
        }

            .contact a:hover {
                text-decoration: underline;
            }
</style>
<h1>Dịch vụ của chúng tôi</h1>
<p>Chúng tôi cung cấp dịch vụ mua sách trực tuyến thuận tiện, đảm bảo chất lượng và giao hàng nhanh chóng. Bạn có thể dễ dàng tìm kiếm và đặt hàng trên trang web của chúng tôi, và chúng tôi sẽ gửi sách đến địa chỉ của bạn trong thời gian ngắn nhất.</p>

<h1>Liên hệ</h1>
<div class="contact">
    <p>Phạm Nguyễn Thiên Lân:</p>
    <p>Facebook: <a href="https://www.facebook.com/TL06122002">https://www.facebook.com/TL06122002</a></p>
</div>
<div class="contact">
    <p>Phan Thị Phương Hà:</p>
    <p>Facebook: <a href="https://www.facebook.com/ph.hamin21">https://www.facebook.com/ph.hamin21</a></p>
</div>
<div class="contact">
    <p>Nguyễn Ngọc Đức Nhông:</p>
    <p>Facebook: <a href="https://www.facebook.com/nhong.nguyen.92">https://www.facebook.com/nhong.nguyen.92</a></p>
</div>