
@{
    ViewBag.Title = "DangXuat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng Xuất</title>
</head>
<body>
    <div>
        <h2>Đăng Xuất</h2>
        <p>Bạn đã đăng xuất thành công.</p>
        <p><a href="@Url.Action("DangNhap", "NguoiDung")">Đăng nhập lại</a></p>
    </div>
</body>
</html>
